@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

.App {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	padding: 0 1rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	/* background-color: rgba(94, 112, 171, 0.8); */
	/* background-color: rgba(0, 60, 110, 0.5); */
	/* border: solid 2px rgba(150, 150, 150, 0.9); */
	/* backdrop-filter: blur(5px); */
	width: 100%;
	border-radius: 10px;
	margin-top: 1rem;

	position: sticky;
	top: 1rem;
	z-index: 100;
	/* padding: 1rem; */
}

.logo {
	height: 5rem;
	transition: transform 0.2s ease;
}

.logo:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.scoreboard {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 1rem;
	font-family:
		"JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: #21386e;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	padding: 1rem;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease;
}

.scoreboard:hover {
	transform: scale(1.05);
}

.scorenumber,
.bestscorenumber {
	color: yellow;
}

.score,
.bestscore {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.board {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	gap: 1rem;
	height: 100%;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 10rem;
}

.card {
	cursor: pointer;
	border: solid 1px rgba(150, 150, 150, 0.9);
	border-radius: 10px;
	/* background-color: rgba(94, 112, 171, 0.8); */
	background-color: rgba(250, 250, 250, 0.6);
	backdrop-filter: blur(5px);
	transition: transform 0.2s ease;
	min-width: 220px;
	max-width: 300px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card h2 {
	font-family:
		"JetBrains Mono", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 10px;
	border: 1px solid rgba(140, 140, 140, 0.9);
	/* backdrop-filter: blur(20px); */
	padding: 0.6rem 0;
	margin: 0.4rem;
	color: white;
	text-shadow: 2px 2px 4px #000000;

	background: linear-gradient(
		135deg,
		rgba(255, 215, 0, 0.4) /* Gold */,
		rgba(255, 105, 180, 0.4) /* Pink */,
		rgba(138, 43, 226, 0.4) /* Purple */,
		rgba(0, 191, 255, 0.4) /* Blue */,
		rgba(50, 205, 50, 0.4) /* Green */
	);
}

.card:hover {
	transform: scale(1.05);
	border-color: yellow;
}

.card:active {
	transform: scale(0.95);
	transition: transform 0.1s ease;
}

.card img {
	width: 100%;
	pointer-events: none;
}

/* @media (max-width: 800px) { */
/*   h1 { */
/*     font-size: 1.3rem; */
/*     letter-spacing: 2px; */
/*   } */
/**/
/*   .scoreboard { */
/*     font-size: 1rem; */
/*   } */
/**/
/* 	.board { */
/* 		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
/* 	} */
/* } */
/**/
/* @media (max-width: 500px) { */
/*   .card h2 { */
/*     font-size: 1rem; */
/*   } */
/**/
/* 	.board { */
/* 		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
/* 	} */
/* } */
